{% extends 'base.html.twig' %}

{% block title %}Welcome{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('dashboard') }}
{% endblock %}

{% block body %}
    <div id="dashboard" class="page">
        <section class="list p-3">
            {% for categoryInfo in library %}
                <div class="row mb-5">
                    <h2 class="col-12">{{ categoryInfo.category }}</h2>

                    {% if 'featured_film' == categoryInfo.type %}
                        {% for video in categoryInfo.library %}
                            <div class="col-2 mb-4">
                                <a href="{{ path('video_show', {id: video.id}) }}">
                                    {{ video.name }} <img src="/thumbnails/ff{{ video.id }}.png" alt="">
                                </a>
                            </div>
                        {% endfor %}
                    {% elseif 'serie' == categoryInfo.type %}
                        {% for serie in categoryInfo.library %}
                            <div class="col-2 mb-4">
                                <a href="{{ path('serie_show', {id: serie.id}) }}">
                                    {{ serie.name }} <img src="/thumbnails/s{{ serie.id }}.png" alt="">
                                </a>
                            </div>
                        {% endfor %}
                    {% endif %}

                </div>
            {% endfor %}
        </section>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('dashboard') }}
{% endblock %}