{% extends 'base.html.twig' %}

{% block title %}Welcome{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('dashboard') }}
{% endblock %}

{% block body %}
    <div id="dashboard" class="page">
        {% for category in categories %}
            <div class="row mb-5">
                <h2 class="col-12">{{ category.name }}</h2>
                {% for video in category.getVideos %}
                    <div class="col-3 mb-4">
                        <div class="card">
                            <div class="card-header">{{ video.name }}</div>
                            <div class="card-body">
                                <a href="{{ path('video_show', {id: video.id}) }}" class="btn btn-primary">Show</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('dashboard') }}
{% endblock %}